{% extends "skeleton.html" %}

    {% block navbar %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div  class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul  class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('projects') }}"><h5>Projects</h5></a>
                    </li>            
                    <li>
                        <a href="{{ url_for('chapters') }}"><h5>Chapters</h5></a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('blog') }}"><h5>Blog</h5></a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}"><h5>About</h5></a>
                    </li>
                    <li style="padding-top:5px;">
                        <a class="btn btn-default btn-sm btn-navbar" href="{{ url_for('donate') }}"><h5>DONATE</h5></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}
        
    {% block header %}
    <header class="intro_sub blog">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p align="left" class="brand-heading">"Sometimes all it takes is a tiny shift of perspective to see something familiar in a totally new light."</p>
                        <p align="left" class="intro-text">-Dan Brown</p>
                    </div>
                </div> 
            </div>
        </div>
    </header>

    <!-- Small Green Border -->
    <div class="apply"></div>
    {% endblock %}

    {% block section %}
    <section id="about" class="container content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="color:#5d5d5d">The RISHI Perspective</h2>
                    <hr>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="col-md-6">
                <a class="m-profile" data-width="100%" href="https://medium.com/@UCLA_ProjectRISHI">UCLA Project RISHI</a> 
            </div> 
            <div class="col-md-6">
                <a class="m-profile" data-width="100%" href="https://medium.com/@ucberkeleyrishi">UCB Project RISHI</a> 
            </div> 
        </div>
        <br>
        <div class="container">
            <!-- Row Break -->
            <div class="col-md-6">
                <a class="m-profile" data-width="100%" href="https://medium.com/@projectrishiucd">UCD Project RISHI</a> 
            </div> 
            <div class="col-md-6">
                <a class="m-profile" data-width="100%" href="https://medium.com/@UCIProjectRISHI">UCI Project RISHI</a> 
            </div> 
        </div>
        <br>
        <div class="container">
            <!-- Row Break -->
            <div class="col-md-6">
                <a class="m-profile" data-width="100%" href="https://medium.com/@projectrishinu">Northwestern Project RISHI</a> 
            </div> 
            <div class="col-md-6">
                <a class="m-profile" data-width="100%" href="https://medium.com/@ucriverside">UCR Project RISHI</a>
            </div> 
        </div>
        <br>
        <div class="container">
            <!-- Row Break -->
            <div class="col-md-6">
                <a class="m-profile" data-width="100%" href="https://medium.com/@cpp.projectRISHI">CPP Project RISHI</a> 
            </div> 
            <div class="col-md-6">
                <a class="m-profile" data-width="100%"href="https://medium.com/@ucsdprojectrishi">UCSD Project RISHI</a>
            </div>
        </div>
    </section>  
    <br>

    <script async src="https://static.medium.com/embed.js"></script>
    {% endblock %}