{% extends "skeleton.html" %}

    {% block navbar %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div  class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul  class="nav navbar-nav">
                    <li class="active">
                        <a href="{{ url_for('projects') }}"><h5>Projects</h5></a>
                    </li>            
                    <li>
                        <a href="{{ url_for('chapters') }}"><h5>Chapters</h5></a>
                    </li>
                    <li>
                        <a href="{{ url_for('blog') }}"><h5>Blog</h5></a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}"><h5>About</h5></a>
                    </li>
                    <li style="padding-top:5px;">
                        <a class="btn btn-default btn-sm btn-navbar" href="{{ url_for('donate') }}"><h5>DONATE</h5></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}

        
    {% block header %}
    <header class="intro_sub proj">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p align="left" class="brand-heading"></p>
                        <p align="left" class="intro-text"></p>
                    </div>
                </div> 
            </div>
        </div>
    </header>

    <!-- Small Green Border -->
    <div class="apply"></div>
    {% endblock %}

    {% block section %}
    <section id="about" class="container content-section text-center">
        <div class="container">
            <div class="row">
                <div align="middle" class="col-md-12">
                    <img src="http://s3.projectrishi.org/img/project_icons/energy.png"/>
                    <br>
                    <br>
                </div>
           </div>
           <div class="row">
                <h3><font style="color:#5d5d5d">Energy</font></h3>
           </div>
<!--             <div class="row">
                <p><strong><font style="color:#5d5d5d">In India, there are only <font style="color:#F16822">6.5 physicians for every 100,000 people.</font> <br> The ratio is much lower in rural populations.</font></strong></p>
           </div> -->
           <div class="row">
                <p><strong><font style="color:#5d5d5d">Page Coming Soon!</strong></p>
           </div>
        </div>
    </section>

    {% endblock %}
