{% extends "skeleton.html" %}

    {% block navbar %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div  class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul  class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('projects') }}"><h5>Projects</h5></a>
                    </li>            
                    <li>
                        <a href="{{ url_for('chapters') }}"><h5>Chapters</h5></a>
                    </li>
                    <li>
                        <a href="{{ url_for('blog') }}"><h5>Blog</h5></a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}"><h5>About</h5></a>
                    </li>
                    <li style="padding-top:5px;">
                        <a class="btn btn-default btn-sm btn-navbar" href="{{ url_for('donate') }}"><h5>DONATE</h5></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}
        
    {% block header %}
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p align="left" class="brand-heading">Project RISHI (Rural India Social and Health Improvement) is a non-profit organization whose mission is to promote the sustainable development and growth of rural Indian communities.</p>
                        <p align="left" class="intro-text">In partnership with local community members and social enterprises, we identify issues central to our target communities and provide the resource to implement solutions through extensive field research and on-campus initiatives.</p>
                    </div>
                </div> 
            </div>
        </div>
    </header>
    {% endblock %}

    {% block section %}
    <div class="app">
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active blue-link">
                        <p align="middle">LATEST UPDATE: Apply to be part of RISHI Chapter!&nbsp;&nbsp;&nbsp;<a href="{{ url_for('apply') }}"><strong>Click Here >></strong></a> </p>
                    </div>
                    <div class="item blue-link">
                        <p align="middle">LATEST UPDATE: Stay updated on our Projects with RISHI Perspective&nbsp;&nbsp;&nbsp;<a href="{{ url_for('blog') }}"><strong>Click Here >></strong></a> </p>
                    </div>
                    <div class="item blue-link">
                        <p align="middle">LATEST UPDATE: Join the Discussion on #RISHIForums&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/groups/RISHIforums/"><strong>Click Here >></strong></a> </p>
                    </div>
<!--                     <div class="item blue-link">
                        <p align="middle">LATEST UPDATE: &nbsp;&nbsp;&nbsp;<a href="blog"><strong>Click Here >></strong></a></p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- About Section -->
    <section class="container content-section text-center">
        <div class="container">
            <div class="row">
                <div align="left" class="col-md-4">
                    <h3 style="color:#5d5d5d">What We Do.</h3>
                    <br>
                    <p style="color:#5d5d5d">We aim to address key developmental disparities that challenge our target village populations. After thoroughly understanding the severity of conditions relevant to each disparity, we research proven solutions developed by social enterprises that have already been successful in alleviating the burden of these disparities. Project RISHI catalyzes positive change by effectively bringing these affordable and sustainable solutions to our partnering villagers and then thoroughly evaluating the impact of each initiative.</p>
                    <p align="middle"><a href="projects" class="btn btn-default btn-lg">Learn More</a></p>
                </div>
                <div class="col-md-4">
                    <img align="middle" class="img-portfolio img-responsive" src="http://s3.projectrishi.org/img/homepage/health.png"/><br>
                </div>
                <div class="col-md-4">
                    <img align="middle" class="img-portfolio img-responsive" src="http://s3.projectrishi.org/img/homepage/income_generation.png"/><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img align="middle" class="img-portfolio img-responsive" src="http://s3.projectrishi.org/img/homepage/energy.png"/><br>
                </div>
                <div class="col-md-4">
                    <img align="middle" class="img-portfolio img-responsive" src="http://s3.projectrishi.org/img/homepage/education.png"/><br>
                </div>
                <div class="col-md-4">
                    <img align="middle" class="img-portfolio img-responsive" src="http://s3.projectrishi.org/img/homepage/water_sanitation.png"/><br>
                </div>
            </div>
        </div>
    </section>

    <!-- Download Section -->
<!--     <section class="download-section container text-center"></section> -->

    <!-- Contact Section -->
    <section id="schedule" class="container content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 style="color:#5d5d5d">Our University Chapters</h3>
                    <br>
                    <p style="color:#5d5d5d">University of California, Los Angeles <br>
                                University of California, Berkeley <br>
                                University of California, San Diego <br>
                                University of California, Davis <br>
                                Northwestern University <br>
                                University of California, Irvine <br>
                                University of California, Riverside <br>
                                Cal Poly Pomona <br>
                    </p>
                    <p><a href="{{ url_for('chapters') }}" class="btn btn-default btn-sm">Learn More</a></p>
                </div>
                <div class="col-sm-6">
                    <h3 style="color:#5d5d5d">Our Target Villages in India</h3>
                        <br>
                    <p style="color:#5d5d5d">Anandwan, Maharashtra <br>
                                Bharog Baneri, Himachal Pradesh <br>
                                Charnia, Haryana <br>
                                Elandaikudam, Tamil Nadu<br>
                                Jhundpur, Haryana <br>
                                Kharoli, Maharashtra <br>
                                Pariej, Gujarat <br>
                                Vadamanappakkam, Tamil Nadu <br>
                                Nagaviladiya, Gujarat <br>
                    </p>
                    <p><a href="{{ url_for('locations') }}" class="btn btn-default btn-sm">Learn More</a></p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

