{% extends "skeleton.html" %}

    {% block navbar %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div  class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul  class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('projects') }}"><h5>Projects</h5></a>
                    </li>            
                    <li>
                        <a href="{{ url_for('chapters') }}"><h5>Chapters</h5></a>
                    </li>
                    <li>
                        <a href="{{ url_for('blog') }}"><h5>Blog</h5></a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}"><h5>About</h5></a>
                    </li>
                    <li style="padding-top:5px;">
                        <a class="btn btn-default btn-sm btn-navbar" href="{{ url_for('donate') }}"><h5>DONATE</h5></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}

        
    {% block header %}
    <header class="intro_sub proj">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p style="font-size:160%" align="left" class="brand-heading"></p>
                        <p style="font-size:110%" align="left" class="intro-text"><strong><strong></p>
                    </div>
                </div> 
            </div>
        </div>
    </header>

    <!-- Small Green Border -->
    <div class="apply"></div>
    {% endblock %}

    {% block section %}
    <section id="about" class="container content-section text-center">
        <div class="container">
            <div class="row">
                <div align="left" class="col-md-12">
                    <h3 align="middle" style="color:#5d5d5d">Privacy Policy</h3>
                    <br>
                    <h5 style="color:#5d5d5d">Project RISHI uses GOOGLE ANALYTICS on ProjectRISHI.org</h5>
                    <br>
                    <p style="color:#4A4A4A">GOOGLE ANALYTICS is a Google Product that offers data about our visitors. GOOGLE ANALYTICS tracks a visitor's acquisition channels, length of a visit, platform/browser used, and some behavioral data based on your interaction with the site. The tracking information allows us to better understand our visitors, which helps us make better decisions about our offerings and design.</p>          
                    <br>            
                    <h5 style="color:#5d5d5d">How will we use this Data?</h5>
                    <br>
                    <p style="color:#4A4A4A">Occasionally, Project RISHI will aggregate statistics about the number of visitors the site receives and their overall interaction. No personal identifying data is included in this type of reporting.</p>
                    <br>
                    <h5 style="color:#5d5d5d">Want to opt out of Tracking?</h5>
                    <br>
                    <p  style="color:#4A4A4A">1. To opt out of Google's advertising tracking cookie: <a href="http://www.google.com/policies/technologies/ads/"><font color="#F06B2F">Google Privacy and Terms</font></a><br>
                    2. Use a Browser Plugin: <a href="https://tools.google.com/dlpage/gaoptout?hl=en"><font color="#F06B2F">Google Analytics Opt-out Browser Plugin</font></a> </p> 
                    <br>
                    <p style="color:#4A4A4A">All of Project RISHI Google Analytics activity falls within the bounds of <a href="http://www.google.com/analytics/terms/us.html"><font color="#F06B2F">GOOGLE ANALYTICS TERMS OF SERVICE</font></a>.</p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}