{% extends "skeleton.html" %}

    {% block navbar %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div  class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul  class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('index') }}"><h5>Projects</h5></a>
                    </li>            
                    <li class="active">
                        <a href="{{ url_for('chapters') }}"><h5>Chapters</h5></a>
                    </li>
                    <li>
                        <a href="{{ url_for('blog') }}"><h5>Blog</h5></a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}"><h5>About</h5></a>
                    </li>
                    <li style="padding-top:5px;">
                        <a class="btn btn-default btn-sm btn-navbar" href="{{ url_for('donate') }}"><h5>DONATE</h5></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}

        
    {% block header %}
    <header class="intro_sub chap">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p align="left" class="brand-heading">"Coming together is a beginning, staying together is progress, and working together is success."</p>
                        <p align="left" class="intro-text">-Henry Ford</p>
                    </div>
                </div> 
            </div>
        </div>
    </header>

    <!-- Small Green Border -->
    <div class="apply"></div>
    {% endblock %}

    {% block section %}
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div align="middle" class="col-md-12">
                <h3 style="color:#4A4A4A">Our Chapters</h3>
                <br>
                <p style="color:#4A4A4A">Our organization has an extensive network of university chapters across the US. Each chapter consists of motivated undergraduate students who believe in our organization’s goal and are eager to turn it into a reality. We believe college students are key agents of change and have the power to take the right approach to create sustainable change.</p>
            </div>
        </div>
    </div>
    <br><br>
    <!-- CHAPTERS -->
    <div class="container">
        <div class="row">
            {% for c in chapters %}
            <!-- {{ c['name'] }} -->
            <div class="col-md-4">
                <div class="portfolio-item">
                    <a href="" data-toggle="modal" data-target=""><img align="middle" class="img-portfolio img-circle" height="165" width="165" src="https://res.cloudinary.com/dixxe5spq/image/upload/v1697078328/projectrishi/chapters/{{ c['slug'] }}.png"></a>
                </div>
                <h4 style="color:#4A4A4A">{{ c['name'] }}</h4>
                <!-- <p style="color:#5d5d5d">Status: {{ c['status'] }}</p> -->
                <!-- <p><a href="" class="btn btn-default btn-lg" data-toggle="modal" data-target="">Learn More</a></p> -->
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- CHAPTER INTEREST FORM -->
    <section class="grey-2">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <br>
                    <h4 style="color:#4A4A4A">START YOUR OWN CHAPTER</h4><br>
                    <p style="color:#5d5d5d">
                    <strong>If you are an undergraduate or graduate student and are interested in starting a chapter at your university, we want to hear from you.</strong></p>
                    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdSdpKVqmkTlDqtrfWWSA9oLB-NEqlRQqcoKOxPACy9S_Nqkg/viewform?c=0&w=1" class="btn btn-default btn-lg" >Chapter Interest Form</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- UCLA Modal -->
    <div id="ucla" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content - UCLA -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="color:#4A4A4A" class="modal-title">University of California, Los Angeles</h4>
                </div>
                <div style="color:#4A4A4A" class="modal-body">
                    <p style="color:#4A4A4A">The UCLA chapter was our first chapter that helped shaped our organization and the work we do. They focus on working with the villagers of Vadamanappakkam, located in rural Tamil Nadu and have had a significant impact on this community. This chapter has a strong focus on improving quality of life through various health initiatives.</p>
                    <p style="color:#4A4A4A">Contact: <a href="mailto:ucla@projectrishi.org"><font color="#21A54A"><strong>ucla@projectrishi.org</strong></font></a> <br> <a href="{{ url_for('donate') }}"><strong>Donate</strong></a> to the UCLA Chapter.</p>
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#ucla1" data-toggle="tab"><h5 style="color:#4A4A4A" class="modal-title">Chapter Leaders</h5></a></li>
                            <li><a href="#ucla2" data-toggle="tab"><h5 style="color:#4A4A4A" class="modal-title">RISHI Perspective</h5></a></li>
                            <li><a href="#ucla3" data-toggle="tab"><h5 style="color:#4A4A4A" class="modal-title">Connect</h5></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="ucla1">
                                <div class="container-fluid text-center">
                                    <br><br>
                                    {% for e in uclae %}
                                    <div class="col-md-4">
                                        <div class="portfolio-item">
                                            <img align="middle" class="img-portfolio img-circle" height="150" width="150" src="{{ e.photo }}">
                                        </div>
                                        <h5 style="color:#5d5d5d">{{ e.name }}</h5>
                                        <p style="color:#5d5d5d">{{ e.position }}
                                        <br>
                                        <a href="mailto:{{ e.email }}"><font color="#21A54A">{{ e.email }}</font></a></p>
                                    </div> 
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Item 1 End -->
                            <div class="tab-pane" id="ucla2">
                                <div class="container-fluid text-center">
                                    <br><br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="m-profile" data-width="100%" href="https://medium.com/@UCLA_ProjectRISHI">UCLA Project RISHI</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 2 End -->
                            <div class="tab-pane" id="ucla3">
                                <div class="container-fluid text-center">
                                    <br><br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprojectrishiucla&tabs=timeline%2Cevents%2Cmessages&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <!-- Item 3 End -->
                        </div>
                    </div>
                </div>
                <!-- Modal Body End -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- UCLA Modal End -->
    {% endblock %}