{% extends "skeleton.html" %}

    {% block navbar %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div  class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul  class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('projects') }}"><h5>Projects</h5></a>
                    </li>            
                    <li>
                        <a href="{{ url_for('chapters') }}"><h5>Chapters</h5></a>
                    </li>
                    <li>
                        <a href="{{ url_for('blog') }}"><h5>Blog</h5></a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('about') }}"><h5>About</h5></a>
                    </li>
                    <li style="padding-top:5px;">
                        <a class="btn btn-default btn-sm btn-navbar" href="{{ url_for('donate') }}"><h5>DONATE</h5></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}

        
    {% block header %}
    <header class="intro_sub about">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p align="left" class="brand-heading">“Active participation in the process of creation is our right and our privilege. We can learn to measure the success of our ideas not by our bank accounts but by their impact on the world.”</p>
                        <p align="left" class="intro-text">-Tim Brown</p>
                    </div>
                </div> 
            </div>
        </div>
    </header>

    <!-- Small Green Border -->
    <div class="apply"></div>
    {% endblock %}

    {% block section %}
    <section id="about" class="container content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="color:#5d5d5d">Methodology</h3>
                    <br>
                    <p style="color:#5d5d5d">Our projects are based on a rigorous 5-Step-Methodology which ensures that all critical aspects of a project is executed effectively with the necessary oversight. This process helps us ensure that all projects are moving our mission forward.</p>
                    <br>
                </div>
            </div>
            <div class="col-md-12 row">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-badge"><img class="img-responsive" src="https://res.cloudinary.com/dixxe5spq/image/upload/v1696905457/projectrishi/method-icons/1_wmx2mn.png"/></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                            <h4 align="left" style="color:#5d5d5d" class="timeline-title">Understand</h4>
                            </div>
                            <div class="timeline-body">
                              <p align="left" style="color:#5d5d5d">We identify key problems in our partnering villages by engaging with local leaders and villagers to identify the issues most critical to their own communities. More clearly understanding the wants and needs of the local population allows Project RISHI to strategically explore only those problems in which both our organization and the local communities have a vested interest. We have found that building this strong foundation is critical to the success of any of our projects.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><img class="img-responsive" src="https://res.cloudinary.com/dixxe5spq/image/upload/v1696905455/projectrishi/method-icons/2_xcsjgk.png"/></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                            <h4 align="right" style="color:#5d5d5d" class="timeline-title">Research</h4>
                            </div>
                            <div class="timeline-body">
                              <p align="right" style="color:#5d5d5d">Upon gaining a clear understanding of the key players and motivations for addressing a problem, we start mobilizing our resources. We research organizations that have specialized in a particular problem and create the necessary partnerships to address any identified problems. We strive for efficiency, effectiveness, and sustainability. Establish a core group of drivers for each project helps us ensure this.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"><img class="img-responsive" src="https://res.cloudinary.com/dixxe5spq/image/upload/v1696905456/projectrishi/method-icons/3_odcwwl.png"/></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                            <h4 align="left" style="color:#5d5d5d" class="timeline-title">Finance</h4>
                            </div>
                            <div class="timeline-body">
                              <p align="left" style="color:#5d5d5d">We strive to provide only the highest quality of services to our partnering villages. In order to ensure that, we have integrated financial strategy as a critical process  prior to any of our projects being implemented.  Having a short-term and long-term financial plan for each of our projects allow us to be mindful of the sustainability of anything we implement.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><img class="img-responsive" src="https://res.cloudinary.com/dixxe5spq/image/upload/v1696905455/projectrishi/method-icons/4_c0hvwe.png"/></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                            <h4 align="right" style="color:#5d5d5d" class="timeline-title">Implement</h4>
                            </div>
                            <div class="timeline-body">
                              <p align="right" style="color:#5d5d5d">Prior to implementing our projects, we do our very best to organize all the critical pieces that will ensure successful implementation of our projects. However, we recognize the need to be flexible and throughout our implementation process, the core group of drivers for each project constantly re-evaluate and fine-tune our implementation to ensure that we are meeting all the goals we hope to achieve. More importantly, we ensure that any modifications to the project during the implementation stage stay aligned with our organization’s mission.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"><img class="img-responsive" src="https://res.cloudinary.com/dixxe5spq/image/upload/v1696905455/projectrishi/method-icons/5_lqkxv0.png"/></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                            <h4 align="left" style="color:#5d5d5d" class="timeline-title">Evaluate</h4>
                            </div>
                            <div class="timeline-body">
                                <p align="left" style="color:#5d5d5d">We are a goal-driven organization and the assessment of our projects post-implementation help us determine how well we have addressed the key issues identified by our partner communities. More importantly, it helps us highlight what worked well and point areas for improvement. Our goal is to transcend beyond just being an organization that identifies needs and raises money to address them -- we want to be sufficiently critical of our own work and create the necessary changes to ensure that we bring the highest quality and value of service to all those we work with.</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </section>
    
    {% endblock %}
